:root{
    --color-1: #2f3240;
    --color-2: #3C8EBC;
    --color-3: #000000;
    --color-4: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.678);
    font-family:Verdana ;
}
.logo1{
background-color: var(--color-4);
font-size: 40px;
color: rgba(39, 36, 36, 0.678);
border-radius: 5px;
font-family: Arial, Helvetica, sans-serif;
}

.logo2{
    color: var(--color-4);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-wrapper{
    border-bottom: 2px solid white;
    margin-left: 25px;
    box-shadow: 3px rgba(255, 255, 255, .5);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.nav-menu .nav-item:hover{
    background-color: var(--color-4);
    transition: 0.9s;
    border-radius: 5px;
}

.nav-menu .nav-item:active{
    background-color: white;
    border-radius: 5px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:60px ;
    font-size: 25px;
}
li a{
    color: white;
}
.logo-wrapper img{
    width: 150px;
    height: 90px;
}
.nav-link{
    transition: 0.1s;
}
.nav-link:hover{
    color: rgba(39, 36, 36, 0.678);
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(136deg);
    }
        .nav-menu{
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color:rgba(39, 36, 36, 0.678);
            width: 100%;
            text-align: center;
            transition: 0.5s;
        }
        .nav-item{
            margin: 16px 0;
        }

        .nav-menu.active{
            left: 0;
        }
}

.home_page{
    margin-top: 20px;
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
.main_pic{
    width: 50%;
}
 
.img{
    width: 50%;
    margin: 40px 50px 0px 130px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
h1{
    position: absolute;
}
.story{
    width: 50%;
    padding-left: 70px;
}

/*story*/
.first_paragraph{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
}
.heading{
    padding-left: 20px;
    font-size: 70px;

}
p{
    padding-left: 20px;  
    font-family: Arial, Helvetica, sans-serif;
}
.carier{
    color: rgba(39, 36, 36, 0.678);
}
.find{
    padding-top: 100px;
    padding-left: 20px;  
    font-family: Arial, Helvetica, sans-serif;
}
.social_media_handels{
    display: flex;
}
.uil{
    padding-top: 15px;
    padding-right: 50px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.678);
}
.hire{
    margin-top: 15px;
    width: 100px;
    margin-left: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-4);
    font-size: 20px;
}
.hire a{
    color: rgba(255, 255, 255, .5);
}

.biography{
    width: 100%;
}
.bio{
    padding-left: 250px;
}
video{
    width: 100%;
}